* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  min-height: 2000px;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 5rem;
}

/* landing Page */
.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page h1 {
  font-size: 4rem;
}

.landing-page p {
  width: 45%;
  text-align: justify;
  padding: 1rem 0;
}

.landing-page a {
  text-decoration: none;
}

/* halaman ke dua */
.halamandua {
  background-color: #1d2020;
  color: #fff;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.halamandua h1 {
  padding-bottom: 1rem;
}

.halamandua p {
  text-align: justify;
}