:root{
  --padding : 2rem;
  
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  min-height: 2000px;
}

body::-webkit-scrollbar {
  display: none;
}

.container {
  padding: 0 5rem;
}

/* landing Page */
.landing-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-page h1 {
  font-size: 4rem;
}

.landing-page p {
  width: 45%;
  text-align: justify;
  padding: 1rem 0;
}

.landing-page a {
  text-decoration: none;
}

/* halaman ke dua */
.halamandua {
  background-color: #1d2020;
  color: #fff;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.halamandua h1 {
  padding-bottom: 1rem;
}

.halamandua p {
  text-align: justify;
}

#penjelasan{
  padding: 1rem;
  background-color:rgb(210,210,210,0.4);
  border-radius: 2rem;
  margin: 2rem 0 2rem 0;
  line-height: 3rem;
}
  
#bigTittle{
margin: 2rem 0 4rem 0;
}

#subTitle{
  display: inline-block;
  font-size: 3rem;
  border : solid 1px;
  border-radius: 1rem;
  padding: 2rem;
}



#CardStyle{
  
}

.cardContainer{
 
 
  width: 100%;
  overflow: auto;
  scroll-snap-type: x mandatory;
  display: flex;
 margin: 7rem 0 2rem 0;
  gap : 1rem;
}

.card{
 position: relative;
scroll-snap-align: start;
  background-color: black;
  min-width: 100%;
  min-height: 30rem;
  border-radius: 0.8rem;
}

.textCon{
  position: absolute;
  gap : 1rem;
  bottom: 2rem;
  left: 1rem;
  display: flex;
  flex-direction: column;
}

#header{
  color : white;
  font-weight: bold;
  font-size: 3rem;
}

#desc{
  color:grey;
  line-height: 2rem;
  margin-right: 2rem;
}

